.table {
  display: block;
  white-space: nowrap;
  border: 2px solid grey;
  width: min-content;

  .remove button {
    padding: 0 3px;
    border: 1px solid rgb(248, 83, 83);
    color: rgb(248, 83, 83);
    background-color: rgb(245, 199, 199);
    cursor: pointer;
    border-radius: 4px;
  }

  &.pcr {
    tr > td,
    tr > th {
      &:nth-of-type(3) {
        left: 40px;
        position: sticky;
        z-index: 99991;
        background-color: white;
      }
    }
    tr > th {
      &:nth-of-type(3) {
        z-index: 99999;
      }
    }
  }

  * {
    font-size: 13px;
  }

  thead {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 99992;
  }

  tbody {
    /*     display: block;
    overflow: auto; */
    padding-top: 20px;
    max-height: 20vh;
  }

  tr > td,
  tr > th {
    &:nth-of-type(1) {
      left: 0px;
      position: sticky;
      width: 20px;
      z-index: 99991;
      background-color: white;
    }

    &:nth-of-type(2) {
      left: 20px;
      position: sticky;
      z-index: 99991;
      background-color: white;
    }
  }

  tr > th {
    &:nth-of-type(1) {
      z-index: 99999;
    }

    &:nth-of-type(2) {
      z-index: 99999;
    }
  }

  th {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 99998;
  }

  td {
    text-align: left;

    input {
      height: 20px;
      max-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:disabled {
        background-color: #eee;
        border: 1px solid grey;
        color: black;
      }

      &.narrow {
        max-width: 105px;
      }
      &.semi-narrow {
        max-width: 135px;
      }

      &.wide {
        min-width: 300px;
      }

      &.semi-wide {
        min-width: 250px;
      }
    }

    > span:not(.sample) {
      border: 1px solid grey;
      border-radius: 2px;
      display: block;
      padding: 1px 2px;
      background-color: #eee;
      height: 20px;
    }
  }
  .sample-list {
    display: flex;
    gap: 4px;
    align-items: center;
    align-self: center;
    .sample {
      border: 1px solid grey;
      border-radius: 4px;
      font-size: 12px;
      padding: 2px 4px;

      &.add {
        border: 1px solid green;
        color: green;
        cursor: pointer;
      }
    }
  }
}

.show-form {
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
  }

  label {
    font-size: 0.8rem;
  }
}

.revert {
  background-color: rgb(178, 56, 56);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
}

.download {
  display: flex;
  gap: 15px;

  a {
    text-decoration: none;
  }

  .export,
  .legend {
    cursor: pointer;
    color: grey;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    width: min-content;
    align-items: center;
    svg {
      width: 20px;
    }
  }
}

.add-new {
  display: flex;
  align-items: flex-start;
}

.popover {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px;
  border: 1px solid grey;
  background: white;
  max-width: 200px;
  margin: 8px;

  &.top {
    top: 0;
    height: max-content;
    padding: 8px 16px;
  }

  .close {
    text-align: right;
    cursor: pointer;
  }
  div {
    white-space: normal;
    margin-bottom: 4px;
  }

  .title {
    text-align: center;
    text-decoration: underline;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  column-gap: 20px;
  margin: 5px 0 10px;
  font-size: 14px;
  max-width: max-content;
  padding: 5px;

  > div {
    max-width: max-content;
  }

  @media (min-width: 576px) {
    flex-direction: row;
    align-items: center;
  }
}

.side-panel {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999999;

  .body {
    padding: 20px;
    max-height: 100vh;
    width: 360px;
    background: white;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    position: relative;

    .items {
      min-height: 0;
      max-height: 86vh;
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }
    .item {
      padding: 8px;
      text-align: left;
      cursor: pointer;
      color: rgb(97, 97, 97);
      &:hover {
        color: black;
      }
    }
    .cancel-btn {
      position: absolute;
      bottom: 30px;
    }
  }
}
