.confirm-modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: grey;
  background: rgba(60, 60, 60, 0.1);
  z-index: 999999;

  .modal-container {
    border: 1px solid lightgrey;
    border-radius: 4px;
    background: white;
    padding: 20px;
    max-width: 480px;

    .title {
      font-weight: 400;
    }

    .description {
      color: rgb(66, 66, 66);
      font-size: 14px;
    }

    .password-input {
      margin-bottom: 20px;
      width: 80%;
      padding: 8px 12px;
      border: 1px solid grey;
      border-radius: 4px;
    }
  }

  .footer-container {
    display: flex;
    justify-content: center;

    .cancel-btn {
      margin-right: 12px;
    }
  }

  .error {
    text-align: center;
    padding: 0 18px 20px;
    color: coral;
  }
}

.modal-dialog {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
