.search-label {
  font-style: italic;
  font-weight: 400;
  color: grey;
}

.select-input-filter {
  max-height: 21px;
  margin-bottom: 5px;

  * {
    max-width: 100%;
  }

  .select__control {
    min-height: 21px;

    &:not(.select__control--is-focused) {
      .select__value-container--has-value {
        max-height: 26px;
      }
    }
  }
  .select__indicator,
  .select__value-container {
    padding: 0;
  }
}

.filter-wrapper {
  z-index: 99999999;
  display: inline;
  text-align: left;
  font-weight: 400;

  .filter-btn {
    border: none;
    background-color: inherit;
    cursor: pointer;

    svg {
      width: 22px;
    }
  }

  .filter-content {
    min-width: 200px;
    position: absolute;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
    width: 100%;

    .normal {
      font-weight: normal;
      margin-top: 4px;
    }

    .filter-link {
      cursor: pointer;
    }
  }
}
