.search-label {
  font-style: italic;
  font-weight: 400;
  color: grey;
}

.select-input-filter {
  max-height: 21px;
  margin-bottom: 5px;

  * {
    max-width: 100%;
  }

  .select__control {
    min-height: 21px;

    &:not(.select__control--is-focused) {
      .select__value-container--has-value {
        max-height: 26px;
      }
    }
  }
  .select__indicator,
  .select__value-container {
    padding: 0;
  }
}

.filter-wrapper {
  z-index: 99999999;

  .filter-content {
    position: absolute;
    background-color: white;
    padding: 2px;
    border: 1px solid black;
    width: 100%;

    .filter-link {
      cursor: pointer;
      text-align: left;
    }
  }
}
