:global {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: start;
  .label {
    margin-bottom: 3px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    max-width: 225px;
  }

  .select--is-disabled {
    color: grey;
    opacity: 0.6;
    cursor: not-allowed;
  }

  .input {
    flex: 1;
    border-radius: 4px;
    background-color: white;
    border: 1px solid grey;
    color: black;
    outline: none;
    padding: 6px 8px;
    margin-bottom: 0;
    transition: border 0.2s ease-in-out;
    line-height: 20px;
    font-size: 16px;
    color: hsl(0, 0%, 20%);

    &:focus {
      border: 1px solid blue;
    }

    &.disabled,
    :disabled {
      color: grey;
      opacity: 0.6;
      cursor: not-allowed;
    }

    &.error {
      border: 1px solid red;
    }

    &:-webkit-autofill::first-line {
      font-size: 1rem;
    }
  }
}
