.topbar {
  height: 160px;
  border-bottom: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  column-gap: 20px;

  .export {
    margin: 0 auto;
    align-self: center;
  }

  @media (min-width: 1024px) {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    .export {
      margin: initial;
    }
  }
}

.topbar-item {
  text-decoration: none;
  color: darkgrey;
  text-align: center;
  cursor: pointer;
  &:hover,
  &.active {
    color: black;
  }

  @media (min-width: 1024px) {
    min-width: 120px;
  }
}
